.button_test {
  margin: 40px;
  background-color: grey;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_test:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.testJS p {
  font-size: 30px;
  color: #4CAF50; /* Green */
}

.testJS1 p {
  font-size: 15px;
  max-width: 800px;
}